body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a3d91;
}

/* HEADER */
.top-header {
  text-align: center;
  color: white;
  padding: 20px;
}

marquee {
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

/* LOGO BACKGROUND */
.logo-box {
  background-color: #0033cc;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px 0;
}

.logo-box img {
  display: block;
  margin: auto;
}

/* NAV */
nav {
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* PRODUCTS GRID */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* PRODUCT CARD */
.card {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card h3 {
  color: #0a3d91;
}
.about {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

.about h2 {
  color: #0033cc;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
}
/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {

  .products {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo-box img {
    width: 200px;
  }

  nav a {
    display: block;
    margin: 8px 0;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
  }
}